<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cart_item.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @cart_item.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cart_item.description %>
</p>

<p>
  <strong>Imdb:</strong>
  <%= @cart_item.imdb_id %>
</p>

<p>
  <strong>Poster url:</strong>
  <%= @cart_item.poster_url %>
</p>

<%= link_to 'Edit', edit_cart_item_path(@cart_item) %> |
<%= link_to 'Back', cart_items_path %>
